DrSiropAR/.utmp/
DrSiropAR/.vs/
DrSiropAR/Builds/
DrSiropAR/Library/
DrSiropAR/Logs/
DrSiropAR/obj/
DrSiropAR/UserSettings/
DrSiropAR/.vsconfig
DrSiropAR/Assembly-CSharp.csproj
DrSiropAR/Assembly-CSharp-Editor.csproj
DrSiropAR/AssetLoader.csproj
DrSiropAR/com.whisper.unity.csproj
DrSiropAR/com.whisper.unity.editor.csproj
DrSiropAR/com.whisper.unity.tests.csproj
DrSiropAR/DIContainer.csproj
DrSiropAR/DOTween.Modules.csproj
DrSiropAR/IngameDebugConsole.Editor.csproj
DrSiropAR/IngameDebugConsole.Runtime.csproj
DrSiropAR/InjectedFSM.csproj
DrSiropAR/Unity.XR.Interaction.Toolkit.Samples.ARStarterAssets.csproj
DrSiropAR/Unity.XR.Interaction.Toolkit.Samples.ARStarterAssets.Editor.csproj
DrSiropAR/Unity.XR.Interaction.Toolkit.Samples.StarterAssets.csproj
DrSiropAR/Unity.XR.Interaction.Toolkit.Samples.StarterAssets.Editor.csproj
DrSiropAR/Assets/Test
